# Tarea A Expandir y redactar

## Stack y contexto

Poyecto a usar: 'laravel-monolito'
path: '../path-to-monolito/' 

## Task Enumerador

Letra identificadora: 'A'
Id Identificador: 'auto'

## Tarea

Descripción de la tarea
